
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Thumbnail Proximity Effect with jQuery and CSS3" />
	<meta name="keywords" content="thumbnails, jquery, proximity, effect, css3, scale, mouse, hover" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/demo.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/style1.css" />
	
	<title>About</title>
</head>
<body id="page">
	<div  class="container body-content">
		<div id="aboutRow" class="row">
						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a href="#aboutTab" data-toggle="tab">About</a></li>
							<li><a href="#personalTab" data-toggle="tab">Personal</a></li>
							<li><a href="#profesionalTab" data-toggle="tab">Profesional</a></li>
						</ul>

						<div class="tab-content">							
								<div class="tab-pane active" id="aboutTab">									
										<section class="pe-container" id="sectionImage">
											<ul id="pe-thumbs" class="pe-thumbs">
												<li><a href="#"><img src="~/Content/Images/thumbs/1.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/2.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/3.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/4.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/5.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/6.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/7.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/8.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/9.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/10.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/11.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/12.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/13.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/14.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/15.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/16.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/17.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/18.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/19.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/20.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/21.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/22.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/23.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/24.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/25.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/26.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/27.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/28.jpg" /></a></li> 
												<li><a href="#"><img src="~/Content/Images/thumbs/29.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/30.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/31.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/32.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/33.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/34.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/35.jpg" /></a></li>
												<li><a href="#"><img src="~/Content/Images/thumbs/36.jpg" /></a></li>
											</ul>
										</section>									
							    </div>							
								<div class="tab-pane" id="personalTab">	
									<div class="col-md-6 col-sm-12">
										<section id="personalText" class="col-mg-6">
											<br />
											<h4><b id="namePersonal" class="otherColor">I am Vladimir Kočiš Tubić</b></h4>
											<p><span id="i1">I</span> was born on February 8, 1978 in Sombor, Serbia</p>
											<p><span id="i2">I</span> moved to a Novi Sad to study</p>
											<p><span id="i3">I</span> finished high technical school - graphic engineering</p>
											<p><span id="i4">I</span> now live in Belgrade</p>
											<p><span id="i5">I</span> work as a <span id="webDev" class="otherColor">Web developer</span> in Avisto Eastern Europe</p>
											<p><span id="i6">I</span>'m working with great people from whom I can learn a lot</p>
											<p><span id="i7">I</span> have beautiful <span id="jadranka" class="otherColor">wife Jadranka</span> and beautiful <span id="ena" class="otherColor">daughter Ena</span></p>
											<p><span id="i8">I</span> like going for long walks with my wife and daughter</p>
											<p><span id="i9">I</span> like to go swimming with them</p>
											<p><span id="i10">I</span> like to watch cartoons with them on a Saturday night</p>
											<p><span id="i11">I</span> like holidays because I have the opportunity to spend time with <span id="parents" class="otherColor">my whole family </span> in my <span id="natasa" class="otherColor">hometown</span></p>
											<p><span id="i12">I</span> also love to travel</p>
											<p><span id="i13">I</span>'m doing yoga and meditating, and I like it</p>
										</section>
									</div>
									<div class="col-md-6">
										<img />
									</div>
								</div>							   							
								<div class="tab-pane" id="profesionalTab">
									<div class="col-md-6 col-sm-12">
										<section id="profesionalText">
											<br />
											<h4><b id="workingHistory" class="otherColor">Working history:</b></h4>
											<br />
											<p>I am <b>currently</b> working in <b id="firm" class="otherColor">Avisto Eastern Europe</b> (Elsys Eastern Europe)- Belgrade</p>
											<p>as a web developer</p>
											<p>For the last 8 months, I've been working on an existing ASP.NET MVC application</p>
											<p>improving old and adding new features </p>
											<p>To do a good job, I need to use the knowledge in:</p>
											<p id="skills">ASP.NET MVC, C#, JavaScript (jQuery), HTML, CSS, Bootstrap</p>
											<p>and Version Control- SVN (Subversion)</p>
											<br />
											<p>From 2012 to 2017 I was working in Babbler Media Marketing</p>
											<p>In the position of media planner and web site administrator,</p>
											<p>I used the knowledge from the photoshop, office excel</p>
											<p>and for the first time I am faced with front end development of HTML and CSS</p>
											<br />
											<h4><b id="education" class="otherColor">Education:</b></h4>
											<br />
											<p>
												<span id="higher" class="otherColor">Higher Educatio Technical school</span> of professional studies in Novi Sad<br />
												The first level-Basic professional studies study programme Graphic engineering
											</p>   											   
											
											<p><span id="krojac" class="otherColor">Krojač school</span> in Zemun - JavaScript</p>
											
											<p><span id="it" class="otherColor">IT Academy</span> - Wordpress, CSS, HTML</p>
										</section>
									</div>
									<div class="col-md-6">
										<img />
									</div>
							     </div>
						   </div>	
			          <div style="display:block" id="linkDiv">@Html.ActionLink("<< back to Home", "Index", "Home")</div>
					</div>
						<br />
						<div class="row">
							<div class="col-sm-12">
								<footer>
									<p id="vladFoo">&copy; @DateTime.Now.Year - Vladimir Application</p>
								</footer>
							</div>
						</div>
			</div>		


	<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.proximity.js"></script>	
	<script type="text/javascript" src="~/Scripts/respond.js"></script>
	
	<script type="text/javascript">
		$(function () {

			var Photo = (function () {

				// list of thumbs
				var $list = $('#pe-thumbs'),
					// the images
					$elems = $list.find('img'),
					// maxScale : maximum scale value the image will have
					// minOpacity / maxOpacity : minimum (set in the CSS) and maximum values for the image's opacity
					settings = {
						maxScale: 1.4,
						maxOpacity: 0.9,
						minOpacity: Number($elems.css('opacity'))
					},
					init = function () {

						// minScale will be set in the CSS
						settings.minScale = _getScaleVal() || 1;
						_initEvents();

					},
					// Get Value of CSS Scale through JavaScript:
					// http://css-tricks.com/get-value-of-css-rotation-through-javascript/
					_getScaleVal = function () {

						var st = window.getComputedStyle($elems.get(0), null),
							tr = st.getPropertyValue("-webkit-transform") ||
								st.getPropertyValue("-moz-transform") ||
								st.getPropertyValue("-ms-transform") ||
								st.getPropertyValue("-o-transform") ||
								st.getPropertyValue("transform") ||
								"fail...";

						if (tr !== 'none') {

							var values = tr.split('(')[1].split(')')[0].split(','),
								a = values[0],
								b = values[1],
								c = values[2],
								d = values[3];

							return Math.sqrt(a * a + b * b);

						}
					},
					_initEvents = function () {

						// the proximity event
						$elems.on('proximity.Photo', { max: 80, throttle: 10, fireOutOfBounds: true }, function (event, proximity, distance) {

							var $el = $(this),
								$li = $el.closest('li'),
								scaleVal = proximity * (settings.maxScale - settings.minScale) + settings.minScale,
								scaleExp = 'scale(' + scaleVal + ')';

							// change the z-index of the element once it reaches the maximum scale value
							(scaleVal === settings.maxScale) ? $li.css('z-index', 1000) : $li.css('z-index', 1);

							$el.css({
								'-webkit-transform': scaleExp,
								'-moz-transform': scaleExp,
								'-o-transform': scaleExp,
								'-ms-transform': scaleExp,
								'transform': scaleExp,
								'opacity': (proximity * (settings.maxOpacity - settings.minOpacity) + settings.minOpacity)
							});

						});

					}

				return {
					init: init
				};

			})();

			Photo.init();

		});
	</script>
  </body>
</html>
