
@{
    ViewBag.Title = "AboutApp";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<h4>How to use this Movie store app?</h4>

<p>Movie Store is part of portfolio application. This part of application is promoting funcionality you can build in ASP.NET MVC.</p>
<p>I use responsive design here, which I plan to implement also in the first part of the application.</p>
<p>I am  still working on adding new features.</p>
<p>As a visitor, you have the opportunity to see only a list of movies and movie details.</p>
<p>If you are enrolled as an employee, you get the opportunity to add new movies and edit and delete movies from the list.</p>
<p><b>Log in:</b></p>
<p><b>email:</b> <span id="span1" class="loggedIn">employee@moviestore.com</span> </p>
<p><b>password:</b> <span id="span2" class="loggedIn">employeeP@ss1</span></p>
<p>Of course, a certain effort was made to make a list of films, so I have given you the opportunity to change only the last two films from the list (The Great Dictator and Pulp Fiction) and the movies you add yourself.</p>
<p>Also you can <b>Log in</b> as a customer:</p>
<p><b>email:</b> <span id="span3" class="loggedIn">customer1@moviestore.com</span> </p>
<p><b>password:</b> <span id="span4" class="loggedIn">customerP@ss1</span></p>
<p>OR better register yourself as customer</p>
<p>Anyway as a customer you get opportunity to buy movies and have access to your customer page</p>
<p>On this page you can track information about credit, number of movies you buy...</p>
<p>Each registered customer gets $ 100 of credit so he can buy 4 movies</p>
<p>This application will develop as a game. I will soon add new features. For exemple:</p>
<p>if you correctly add a new movie, you get an extra credit</p>
<p>when you buy more than ten movies, you get a discount</p>
<p>etc.</p>