@{
    ViewBag.Title = "ListOfMovies";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}


<h3>List Of Movies</h3>
<div class="table-responsive">
	<table id="moviesTable" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Image:</th>
				<th>Movie:</th>
				<th>Genre:</th>
				<th>Price:</th>
				<th>Details:</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
